$rating-star-size: 13px;
.rating {
  &, &__items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items { flex-direction: row-reverse; }

  &__item {
    padding-right: rem(3px);
    width: rem($rating-star-size + 3px);
    height: rem($rating-star-size);
    cursor: pointer;
  }

  &__star {
    display: block;
    width: rem($rating-star-size);
    height: rem($rating-star-size);
    stroke: $rating-star-color;
    stroke-width: 10%;
    stroke-linejoin: round;
  }

  &__item_checked > &__star {
    fill: $rating-star-color;
  }

  &__items:hover &__star { fill: none; }
  &__items:hover &__item:hover > &__star,
  &__items:hover &__item:hover ~ &__item > &__star { fill: $rating-star-color; }
}
