$site-bg: #f3f3f3;
$text-color: #000000;
$link-color: blue;

$base-yellow-color: #ffc80a;

$rating-star-color: $base-yellow-color;
$hr-border: #ebebeb;

$muted: #3d3d3d;
$muted-lighten: #636363;

$slider-nav-bg: #f10e34;
$slider-nav-color: #ffffff;

$font-family-base: 'PT Sans', Arial, sans-serif;
